li {
    display:inline;
    font-size:200%;
}

ul {
    text-align: center;
    border-top-style: solid;
    border-right-style: hidden;
    border-bottom-style: solid;
    border-left-style: hidden;
    border-top-width: 2px;
    border-bottom-width:2px;

}

h1 {
    color:#000000
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size:40px;
}

h1 a:link {
    text-decoration: none;
    text-align:center;
}

h2 {
    font-family: 'Indie Flower', cursive;
}

p {
    font-family: 'Indie Flower', cursive;
}

.main {
    border:1px solid black;
    text-align:center;
    padding:50px;
    margin-top:50px;
    margin-left:300px;
    margin-right:300px;
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    background-image:url("image/background.JPG");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.nav {
    text-align: justify;
    text-justify: distribute;
    
}

.nav ul li {
    padding-right:50px;
    font-family: 'Indie Flower', cursive;
    width:100px;
    
}

.nav ul li a:hover {
    color:grey;
}

li a:link {
    color:green;
    text-decoration: none;
}

li a:visited {
    color: red;
    /*text-decoration: none;*/
    text-decoration: underline;
}

/*li a:hover {*/
/*    color:pink;*/
/*    font-size:20px;*/
/*}*/


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
    display:inline-block;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}